<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Horizontal Menu | Core + Admin Template </title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>
    <link rel="shortcut icon" href="img/favicon.ico"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- global css -->
    <link type="text/css" href="css/app.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <!-- end of global css -->
    <!--page level css-->
    <link rel="stylesheet" href="vendors/slimmenu/css/slimmenu.min.css">
    <link rel="stylesheet" href="css/custom_css/horizontal_menu.css">
    <!--end of page level css-->
</head>

<body class="skin-coreplus">
<div class="preloader">
    <div class="loader_img"><img src="img/loader.gif" alt="loading..." height="64" width="64"></div>
</div>
<!-- header logo: style can be found in header-->
<header class="header">
    <nav class="navbar navbar-expand-md navbar-static-top">
        <a href="index.html" class="logo navbar-brand">
            <!-- Add the class icon to your logo image or logo icon to add the margining -->
            <img src="img/logo.png" alt="logo"/>
        </a>

        <!-- Header Navbar: style can be found in header-->
        <!-- Sidebar toggle button-->
        <!-- Sidebar toggle button-->
        <div>
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button"> <i
                    class="fa fa-fw fa-bars"></i>
            </a>
        </div>


        <div class="navbar-collapse " id="navbarNav">
            <div class="navbar-right ml-auto">
                <ul class="nav navbar-nav ">
                    <li class="nav-item dropdown messages-menu">
                        <a href="#" class="nav-link dropdown-toggle"> <i
                                class="fa fa-fw fa-envelope-o black"></i>
                            <span class="label bg-success">2</span>
                        </a>
                        <ul class="dropdown-menu dropdown-messages table-striped">
                            <li class="dropdown-title">New Messages</li>
                            <li class="msg-set message striped-col">
                                <a href="" class="">
                                    <img class="message-image rounded-circle" src="img/authors/avatar7.jpg"
                                         alt="avatar-image">

                                    <div class="message-body"><strong>Ernest Kerry</strong>
                                        <br>
                                        Can we Meet?
                                        <br>
                                        <small>Just Now</small>
                                        <span class="label bg-success label-mini msg-lable">New</span>
                                    </div>
                                </a>
                            </li>
                            <li class="msg-set message">
                                <a href="" class="">
                                    <img class="message-image rounded-circle" src="img/authors/avatar6.jpg"
                                         alt="avatar-image">

                                    <div class="message-body"><strong>John</strong>
                                        <br>
                                        Dont forgot to call...
                                        <br>
                                        <small>5 minutes ago</small>
                                        <span class="label bg-success label-mini msg-lable">New</span>
                                    </div>
                                </a>
                            </li>
                            <li class="msg-set message striped-col">
                                <a href="" class="">
                                    <img class="message-image rounded-circle" src="img/authors/avatar5.jpg"
                                         alt="avatar-image">

                                    <div class="message-body">
                                        <strong>Wilton Zeph</strong>
                                        <br>
                                        If there is anything else &hellip;
                                        <br>
                                        <small>14/10/2014 1:31 pm</small>
                                    </div>

                                </a>
                            </li>
                            <li class="msg-set message">
                                <a href="" class="">
                                    <img class="message-image rounded-circle" src="img/authors/avatar1.jpg"
                                         alt="avatar-image">
                                    <div class="message-body">
                                        <strong>Jenny Kerry</strong>
                                        <br>
                                        Let me know when you free
                                        <br>
                                        <small>5 days ago</small>
                                    </div>
                                </a>
                            </li>
                            <li class="msg-set message striped-col">
                                <a href="" class="">
                                    <img class="message-image rounded-circle" src="img/authors/avatar.jpg"
                                         alt="avatar-image">
                                    <div class="message-body">
                                        <strong>Tony</strong>
                                        <br>
                                        Let me know when you free
                                        <br>
                                        <small>5 days ago</small>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-footer"><a href="#">View All messages</a></li>
                        </ul>

                    </li>
                    <!--tasks-->
                    <li class="nav-item dropdown tasks-menu d-none d-sm-block">
                        <a href="#" class=" nav-link dropdown-toggle">
                            <i class="fa fa-fw fa-edit black"></i>
                            <span class="label bg-primary">4</span>
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            <li class="dropdown-title ">You Have 4 Tasks</li>
                            <li class="message striped-col">
                                <a href="" class=" ">
                                    Design some buttons
                                    <small class="pull-right">20%</small>
                                    <div class="message-body">
                                        <div class="progress progress-xs progress_task">
                                            <div class="progress-bar bg-primary" style="width: 20%"
                                                 role="progressbar" aria-valuenow="20" aria-valuemin="0"
                                                 aria-valuemax="100">
                                                <span class="sr-only">20% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message">
                                <a href="" class="">
                                    Create a nice theme
                                    <small class="pull-right">40%</small>
                                    <div class="message-body">
                                        <div class="progress progress-xs progress_task">
                                            <div class="progress-bar bg-success" style="width: 40%"
                                                 role="progressbar" aria-valuenow="20" aria-valuemin="0"
                                                 aria-valuemax="100">
                                                <span class="sr-only">40% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message striped-col">
                                <a href="" class="">
                                    Some task I need to do
                                    <small class="pull-right">60%</small>
                                    <div class="message-body">
                                        <div class="progress progress-xs progress_task">
                                            <div class="progress-bar bg-danger" style="width: 60%"
                                                 role="progressbar" aria-valuenow="20" aria-valuemin="0"
                                                 aria-valuemax="100">
                                                <span class="sr-only">60% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message">
                                <a href="" class="">
                                    Make beautiful transitions
                                    <small class="pull-right">80%</small>
                                    <div class="message-body">
                                        <div class="progress progress-xs progress_task">
                                            <div class="progress-bar bg-warning" style="width: 80%"
                                                 role="progressbar" aria-valuenow="20" aria-valuemin="0"
                                                 aria-valuemax="100">
                                                <span class="sr-only">80% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-footer"><a href="#"> View All Tasks</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown_message">
                        <a href="#" class="nav-link dropdown-toggle toggle-right">
                            <i class="fa fa-fw fa-comments-o black"></i>
                            <span class="label bg-danger">9</span>
                        </a>
                    </li>
                    <!-- Notifications: style can be found in dropdown-->
                    <li class="nav-item dropdown notifications-menu">
                        <a href="#" class="nav-link dropdown-toggle" >
                            <i class="fa fa-fw fa-bell-o black"></i>
                            <span class="label bg-warning">8</span>
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            <li class="dropdown-title">You have 8 notifications</li>

                            <li class="message striped-col">
                                <a href="" class=" icon-not">
                                    <img class="message-image rounded-circle" src="img/authors/avatar3.jpg"
                                         alt="avatar-image">

                                    <div class="message-body">
                                        <strong>John Doe</strong>
                                        <br>
                                        5 members joined today
                                        <br>
                                        <span class="noti-date">Just now</span>
                                    </div>

                                </a>
                            </li>
                            <li class="message">
                                <a href="" class=" icon-not">
                                    <img class="message-image rounded-circle" src="img/authors/avatar.jpg"
                                         alt="avatar-image">
                                    <div class="message-body">
                                        <strong>Tony</strong>
                                        <br>
                                        likes a photo of you
                                        <br>
                                        <span class="noti-date">5 min</span>
                                    </div>
                                </a>
                            </li>
                            <li class="message striped-col">
                                <a href="" class=" icon-not">
                                    <img class="message-image rounded-circle" src="img/authors/avatar6.jpg"
                                         alt="avatar-image">

                                    <div class="message-body">
                                        <strong>John</strong>
                                        <br>
                                        Dont forgot to call...
                                        <br>
                                        <span class="noti-date">11 min</span>

                                    </div>
                                </a>
                            </li>
                            <li class="message">
                                <a href="" class=" icon-not">
                                    <img class="message-image rounded-circle" src="img/authors/avatar1.jpg"
                                         alt="avatar-image">
                                    <div class="message-body">
                                        <strong>Jenny Kerry</strong>
                                        <br>
                                        Very long description here...
                                        <br>
                                        <span class="noti-date">1 Hour</span>
                                    </div>
                                </a>
                            </li>
                            <li class="message striped-col">
                                <a href="" class=" icon-not ">
                                    <img class="message-image rounded-circle" src="img/authors/avatar7.jpg"
                                         alt="avatar-image">

                                    <div class="message-body">
                                        <strong>Ernest Kerry</strong>
                                        <br>
                                        2 members joined today
                                        <br>
                                        <span class="noti-date">3 Days</span>

                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-footer"><a href="#"> View All Notifications</a></li>
                        </ul>
                    </li>
                    <!-- User Account: style can be found in dropdown-->
                    <li class="nav-item dropdown user user-menu">
                        <a href="#" class="nav-link dropdown-toggle padding-user pt-3">
                            <img src="img/authors/avatar1.jpg" width="35"
                                 class="rounded-circle img-fluid pull-left"
                                 height="35" alt="User Image">
                            <div class="riot">
                                <div>
                                    Natali
                                    <span>
                                        <i class="fa fa-caret-down"></i>
                                    </span>
                                </div>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="img/authors/avatar1.jpg" class="rounded-circle" alt="User Image">
                                <p> Nataliapery</p>
                            </li>
                            <!-- Menu Body -->
                            <li class="p-t-3 nav-item" ><a href="user_profile.html" class="nav-link"> <i class="fa fa-fw fa-user"></i> My
                                Profile </a>
                            </li>
                            <li ></li>
                            <li class="nav-item"><a href="edit_user.html" class="nav-link"> <span><i class="fa fa-fw fa-gear"></i> Account Settings</span>
                            </a></li>
                            <li  class="dropdown-divider"></li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="lockscreen.html">
                                        <i class="fa fa-fw fa-lock"></i>
                                        Lock
                                    </a>
                                </div>
                                <div class="pull-right">
                                    <a href="login.html">
                                        <i class="fa fa-fw fa-sign-out"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="row horizontal_menu">
    <div class="col-md-12">
        <ul id="navigation" class="slimmenu">
            <li class="main-menu option-one"><a href="javascript:void(0)" class="menu-list">Dashboards</a>
                <ul>
                    <li>
                        <a href="index.html" class="sub-list">
                            Dashboard V1
                        </a>
                    </li>
                    <li>
                        <a href="index2.html" class="sub-list">
                            Dashboard V2
                        </a>
                    </li>
                </ul>
            </li>
            <li class="main-menu"><a href="javascript:void(0)" class="menu-list">Elements</a>
                <ul>
                    <li><a href="javascript:void(0)" class="sub-list">Forms</a>
                        <ul>
                            <li>
                                <a href="form_elements.html">
                                    Form Elements
                                </a>
                            </li>
                            <li>
                                <a href="form_validations.html">
                                    Form Validations
                                </a>
                            </li>
                            <li>
                                <a href="form_layouts">
                                    Form Layouts
                                </a>
                            </li>
                            <li>
                                <a href="form_wizards">
                                    Form Wizards
                                </a>
                            </li>
                            <li>
                                <a href="radio_checkboxes">
                                    Radio and Checkbox
                                </a>
                            </li>
                            <li>
                                <a href="advanceddate_pickers">
                                    Advanced Date pickers
                                </a>
                            </li>
                            <li>
                                <a href="x-editable">
                                    X-editable
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="sub-list">UI Features</a>
                        <ul>
                            <li>
                                <a href="general_components">
                                    General Components
                                </a>
                            </li>
                            <li>
                                <a href="buttons">
                                    Buttons
                                </a>
                            </li>
                            <li>
                                <a href="fonts">
                                    Font Icons
                                </a>
                            </li>
                            <li>
                                <a href="advanced_modals">
                                    Advanced Modals
                                </a>
                            </li>
                            <li>
                                <a href="gridstack">
                                    Grid Stack
                                </a>
                            </li>
                            <li>
                                <a href="sweet_alert">
                                    Sweet Alert
                                </a>
                            </li>
                            <li>
                                <a href="toastr_notifications">
                                    Toastr Notifications
                                </a>
                            </li>
                            <li>
                                <a href="notifications">
                                    Notifications
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)" class="sub-list">Components</a>
                        <ul>
                            <li>
                                <a href="timeline">
                                    Timeline
                                </a>
                            </li>
                            <li>
                                <a href="transitions">
                                    Transitions
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)" class="sub-list">Calendar</a>
                        <ul>
                            <li>
                                <a href="calendar">
                                    Calendar
                                </a>
                            </li>
                            <li>
                                <a href="calendar2">
                                    Advanced Calendar
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="main-menu"><a href="javascript:void(0)" class="menu-list">Data </a>
                <ul>
                    <li>
                        <a href="javascript:void(0)" class="sub-list">Data Tables</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="simple_tables">
                                    Simple tables
                                </a>
                            </li>
                            <li>
                                <a href="datatables">
                                    Data Tables
                                </a>
                            </li>
                            <li>
                                <a href="advanced_datatables">
                                    Advanced Tables
                                </a>
                            </li>
                            <li>
                                <a href="responsive_datatables">
                                    Responsive DataTables
                                </a>
                            </li>
                            <li>
                                <a href="bootstrap_tables">
                                    Bootstrap Tables
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="sub-list">Charts</a>
                        <ul>
                            <li>
                                <a href="flot_charts">
                                    Flot Charts
                                </a>
                            </li>
                            <li>
                                <a href="nvd3_charts">
                                    NVD3 Charts
                                </a>
                            </li>
                            <li>
                                <a href="circle_sliders">
                                    Circle Sliders
                                </a>
                            </li>
                            <li>
                                <a href="chartjs_charts">
                                    Chartjs Charts
                                </a>
                            </li>
                            <li>
                                <a href="dimple_charts">
                                    Dimple Charts
                                </a>
                            </li>
                            <li>
                                <a href="amcharts">
                                    Amcharts
                                </a>
                            </li>
                            <li>
                                <a href="chartist">
                                    Chartist Charts
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="sub-list">Gallery</a>
                        <ul>
                            <li>
                                <a href="masonry_gallery">
                                    <i class="fa fa-fw fa-file-image-o"></i> Masonry Gallery
                                </a>
                            </li>
                            <li>
                                <a href="multiplefile_upload">
                                    <i class="fa fa-fw fa-cloud-upload"></i> Multiple File Upload
                                </a>
                            </li>
                            <li>
                                <a href="dropify">
                                    <i class="fa fa-fw fa-dropbox"></i> Dropify
                                </a>
                            </li>
                            <li>
                                <a href="image_hover">
                                    <i class="fa fa-file-image-o"></i> Image Hover
                                </a>
                            </li>
                            <li>
                                <a href="image_filter">
                                    <i class="fa fa-filter"></i> Image Filter
                                </a>
                            </li>
                            <li>
                                <a href="image_magnifier">
                                    <i class="fa  fa-search-plus"></i> Image Magnifier
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="main-menu"><a href="javascript:void(0)" class="menu-list">Maps </a>
                <ul>
                    <li>
                        <a href="google_maps" class="sub-list">
                            Google Maps
                        </a>
                    </li>
                    <li>
                        <a href="vector_maps" class="sub-list">
                            Vector Maps
                        </a>
                    </li>
                    <li>
                        <a href="advanced_maps" class="sub-list">
                            Advanced Maps
                        </a>
                    </li>
                </ul>
            </li>
            <li class="main-menu"><a href="javascript:void(0)" class="menu-list">Pages </a>
                <ul>
                    <li>
                        <a href="lockscreen" class="sub-list">
                            Lockscreen
                        </a>
                    </li>
                    <li>
                        <a href="invoice" class="sub-list">
                            Invoice
                        </a>
                    </li>
                    <li>
                        <a href="blank" class="sub-list">
                            Blank
                        </a>
                    </li>
                    <li>
                        <a href="login" class="sub-list">
                            Login
                        </a>
                    </li>
                    <li>
                        <a href="register" class="sub-list">
                            Register
                        </a>
                    </li>
                    <li>
                        <a href="404" class="sub-list">
                            404 Error
                        </a>
                    </li>
                    <li>
                        <a href="500" class="sub-list">
                            500 Error
                        </a>
                    </li>
                </ul>
            </li>
            <li><a href="javascript:void(0)" class="menu-list active">Layouts </a>
                <ul>
                    <li>
                        <a href="menubarfold" class="sub-list">
                            Menubar Fold
                        </a>
                    </li>
                    <li>
                        <a href="layout_horizontal_menu" class="sub-list active">
                            Horizontal Menu
                        </a>
                    </li>
                    <li>
                        <a href="boxed" class="sub-list">
                            Boxed Layout
                        </a>
                    </li>
                    <li>
                        <a href="layout_fixed_header" class="sub-list">
                            Fixed Header
                        </a>
                    </li>
                    <li>
                        <a href="layout_boxed_fixed_header" class="sub-list">
                            Boxed &amp; Fixed Header
                        </a>
                    </li>
                    <li>
                        <a href="layout_fixed" class="sub-list">
                            Fixed Header &amp; Menu
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="wrapper row-offcanvas row-offcanvas-left">
    <!--</aside>-->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Horizontal menu</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item pt-1"><a href="index"><i class="fa fa-fw fa-home"></i> Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Layouts</a>
                </li>
                <li class="breadcrumb-item active">
                    Horizontal Menu
                </li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-justify">
                        Sed sed blandit urna. Proin ac sem nisl. Mauris risus orci, tristique eget velit at,
                        congue euismod
                        lacus. Curabitur id purus sit amet urna rutrum bibendum ac at quam. In hendrerit enim eu turpis
                        molestie, et euismod tellus viverra. Suspendisse molestie at leo sit amet volutpat. Integer
                        augue
                        libero, scelerisque vitae luctus ac, consequat et arcu. Nullam malesuada turpis eu ullamcorper
                        tincidunt. Integer aliquam felis eget neque facilisis ornare.
                    </p>
                    <p>
                        Integer pharetra vitae dolor vel
                        elementum. In nisl risus, dignissim non fermentum ac, pretium sit amet dui. Phasellus fringilla
                        orci
                        sapien, vel lacinia mi dapibus ut. Donec euismod congue nulla, in porttitor sapien. Pellentesque
                        facilisis luctus adipiscing.
                    </p>
                    <p class="text-justify">
                        <img src="http://placehold.it/1300x150" alt="Sample Image" class="img-responsive Sample_placehold">
                        Lorem ipsum
                        dolor sit amet, consectetur adipiscing elit. Nam massa eros, dictum ut imperdiet eget, laoreet
                        placerat orci. Aliquam eget neque neque. Donec dictum, enim convallis gravida fringilla, velit
                        sem
                        condimentum nunc, in pretium libero est sit amet elit. Nam ut arcu ac eros commodo rutrum ac nec
                        purus. Fusce sodales pulvinar odio, vulputate fringilla ligula bibendum sit amet. Duis risus
                        neque,
                        molestie tincidunt odio vel, sodales vulputate mauris. Sed adipiscing justo tristique enim
                        pharetra,
                        nec ultricies metus sagittis.Duis varius id massa ut pellentesque.
                    </p>
                    <p> Nulla commodo erat eu mi aliquet
                        aliquam. Vivamus commodo massa et nunc ullamcorper, vel pharetra purus consequat. Suspendisse a
                        neque quis nibh dictum posuere ac et enim. Aliquam sit amet accumsan erat. Nullam euismod elit
                        tellus, vel luctus enim luctus feugiat. Vestibulum quis placerat ipsum, porta vehicula massa.
                        Etiam
                        nec risus ac lacus gravida tincidunt. Vivamus eu ante vehicula, aliquam nisl et, suscipit ipsum.
                        Vivamus velit nulla, tincidunt ac risus et, congue lobortis mauris. In condimentum consectetur
                        purus, vel adipiscing felis sollicitudin vitae. Phasellus luctus, ligula eu tempor ullamcorper,
                        lectus elit posuere augue, eget tempus lacus nibh a purus. Ut risus velit, adipiscing eu leo
                        quis,
                        vestibulum porttitor nunc. Sed sed blandit urna. Proin ac sem nisl.
                    </p>

                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- row -->
            <div id="right">
                <div id="slim2">
                    <div class="rightsidebar-right">
                        <div class="rightsidebar-right-content">
                            <h5 class="rightsidebar-right-heading rightsidebar-right-heading-first text-uppercase text-xs">
                                <i class="menu-icon  fa fa-fw fa-paw"></i> Contacts
                            </h5>
                            <ul class="list-unstyled margin-none">
                                <li class="rightsidebar-contact-wrapper">
                                    <a class="rightsidebar-contact" href="#">
                                        <img src="img/authors/avatar1.jpg" height="20" width="20"
                                             class="rounded-circle pull-right" alt="avatar-image">
                                        <i class="fa fa-circle text-xs text-primary"></i> Alanis
                                    </a>
                                </li>
                                <li class="rightsidebar-contact-wrapper">
                                    <a class="rightsidebar-contact" href="#">
                                        <img src="img/authors/avatar.jpg" height="20" width="20"
                                             class="rounded-circle pull-right" alt="avatar-image">
                                        <i class="fa fa-circle text-xs text-primary"></i> Rolando
                                    </a>
                                </li>
                                <li class="rightsidebar-contact-wrapper">
                                    <a class="rightsidebar-contact" href="#">
                                        <img src="img/authors/avatar2.jpg" height="20" width="20"
                                             class="rounded-circle pull-right" alt="avatar-image">
                                        <i class="fa fa-circle text-xs text-primary"></i> Marlee
                                    </a>
                                </li>
                                <li class="rightsidebar-contact-wrapper">
                                    <a class="rightsidebar-contact" href="#">
                                        <img src="img/authors/avatar3.jpg" height="20" width="20"
                                             class="rounded-circle pull-right" alt="avatar-image">
                                        <i class="fa fa-circle text-xs text-warning"></i> Marlee
                                    </a>
                                </li>
                                <li class="rightsidebar-contact-wrapper">
                                    <a class="rightsidebar-contact" href="#">
                                        <img src="img/authors/avatar4.jpg" height="20" width="20"
                                             class="rounded-circle pull-right" alt="avatar-image">
                                        <i class="fa fa-circle text-xs text-danger"></i> Kamryn
                                    </a>
                                </li>
                                <li class="rightsidebar-contact-wrapper">
                                    <a class="rightsidebar-contact" href="#">
                                        <img src="img/authors/avatar5.jpg" height="20" width="20"
                                             class="rounded-circle pull-right" alt="avatar-image">
                                        <i class="fa fa-circle text-xs text-muted"></i> Cielo
                                    </a>
                                </li>
                                <li class="rightsidebar-contact-wrapper">
                                    <a class="rightsidebar-contact" href="#">
                                        <img src="img/authors/avatar7.jpg" height="20" width="20"
                                             class="rounded-circle pull-right" alt="avatar-image">
                                        <i class="fa fa-circle text-xs text-muted"></i> Charlene
                                    </a>
                                </li>
                            </ul>
                            <h5 class="rightsidebar-right-heading text-uppercase text-xs">
                                <i class="fa fa-fw fa-tasks"></i> Tasks
                            </h5>
                            <ul class="list-unstyled m-t-25">
                                <li>
                                    <div>
                                        <p>
                                            <strong>Task 1</strong>
                                            <small class="pull-right text-muted">
                                                40% Complete
                                            </small>
                                        </p>
                                        <div class="progress progress-xs progress-striped active">
                                            <div class="progress-bar bg-success" role="progressbar"
                                                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 40%">
                                                    <span class="sr-only">
                                                        40% Complete (success)
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <p>
                                            <strong>Task 2</strong>
                                            <small class="pull-right text-muted">
                                                20% Complete
                                            </small>
                                        </p>
                                        <div class="progress progress-xs progress-striped active">
                                            <div class="progress-bar bg-info" role="progressbar"
                                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 20%">
                                                    <span class="sr-only">
                                                        20% Complete
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <p>
                                            <strong>Task 3</strong>
                                            <small class="pull-right text-muted">
                                                60% Complete
                                            </small>
                                        </p>
                                        <div class="progress progress-xs progress-striped active">
                                            <div class="progress-bar bg-warning" role="progressbar"
                                                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 60%">
                                                    <span class="sr-only">
                                                        60% Complete (warning)
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <p>
                                            <strong>Task 4</strong>
                                            <small class="pull-right text-muted">
                                                80% Complete
                                            </small>
                                        </p>
                                        <div class="progress progress-xs progress-striped active">
                                            <div class="progress-bar bg-danger" role="progressbar"
                                                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 80%">
                                                    <span class="sr-only">
                                                        80% Complete (danger)
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <h5 class="rightsidebar-right-heading text-uppercase text-xs">
                                <i class="fa fa-fw fa-group"></i> Recent Activities
                            </h5>
                            <div>
                                <ul class="list-unstyled">
                                    <li class="rightsidebar-notification">
                                        <a href="#">
                                            <i class="fa fa-comment fa-fw text-primary"></i> New Comment
                                        </a>
                                    </li>
                                    <li class="rightsidebar-notification">
                                        <a href="#">
                                            <i class="fa fa-twitter fa-fw text-success"></i> 3 New Followers
                                        </a>
                                    </li>
                                    <li class="rightsidebar-notification">
                                        <a href="#">
                                            <i class="fa fa-envelope fa-fw text-info"></i> Message Sent
                                        </a>
                                    </li>
                                    <li class="rightsidebar-notification">
                                        <a href="#">
                                            <i class="fa fa-tasks fa-fw text-warning"></i> New Task
                                        </a>
                                    </li>
                                    <li class="rightsidebar-notification">
                                        <a href="#">
                                            <i class="fa fa-upload fa-fw text-danger"></i> Server Rebooted
                                        </a>
                                    </li>
                                    <li class="rightsidebar-notification">
                                        <a href="#">
                                            <i class="fa fa-warning fa-fw text-primary"></i> Server Not Responding
                                        </a>
                                    </li>
                                    <li class="rightsidebar-notification">
                                        <a href="#">
                                            <i class="fa fa-shopping-cart fa-fw text-success"></i> New Order Placed
                                        </a>
                                    </li>
                                    <li class="rightsidebar-notification">
                                        <a href="#">
                                            <i class="fa fa-money fa-fw text-info"></i> Payment Received
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div>
<!-- /.right-side -->
<!-- ./wrapper -->
<!-- global js -->
<script type="text/javascript" src="js/app.js"></script>

<script type="text/javascript" src="vendors/slimmenu/js/jquery.slimmenu.min.js"></script>
<script type="text/javascript" src="js/custom_js/horizontal_menu.js"></script>
<!-- end of page level js -->
</body>

</html>
